.page {
  display: flex;
  width: 100%;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page img {
  width: 100px;
}

.next {
  position: relative;
  top: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 7px 20px;
  width: 200px;
  border-radius: 10px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
  border: 5px solid transparent;
  border-bottom-color: rgba(0,0,0,0.35);
  background: hsl(4, 91%, 60%);
  cursor: pointer;
  outline: 0 !important;

  transition: background 0.4s, border 0.2s, top 0.2s, transform 0.2s;
}
.next:hover {
  background: hsl(14, 93%, 53%);
  top: 1px;

  animation: none;
}
.next:active {
  border-bottom-width: 0;
  transform: scale(2);
  top: 5px;
}

p {
  margin-bottom: 30px;
}

h2 {
  color: #fefc4d;
}
